# Nextflow
work/
results/
.nextflow*
.cache/
reports/
timelines/
trace.txt
dag.png
report.html
timeline.html
flowchart.dot

# Large / local data
data/
example_data/raw/
*.bam
*.bai
*.fastq
*.fastq.gz

# R cruft
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc

# OS / editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/
